<div class="">
  <mat-card>
    <mat-card-title>Escribir a {{ textForm }}</mat-card-title>
    <mat-card-content>      
      <form novalidate class="form-horizontal" (ngSubmit)="enviarMensaje(mensajeForm.value)" [formGroup]='mensajeForm'>

          <mat-form-field>
            <textarea type="text" matInput formControlName="mensaje" placeholder="Mensaje" cdkAutosizeMaxRows="5"></textarea>
            
            <mat-error *ngIf="mensajeForm.get('mensaje').hasError('required')">
              El campo es obligatorio
            </mat-error>

            <mat-error *ngIf="mensajeForm.get('mensaje').hasError('pattern')">
              Solo se aceptan textos y números.
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="mensajeForm.invalid">
            <mat-icon>chat</mat-icon>Enviar
          </button>
          &nbsp;
          <button mat-raised-button (click)="closeDialog()">Cancelar</button>
          
          
      </form>      
    </mat-card-content>
  </mat-card>
</div>

