<div class="container mt-3">
  <div class="row">

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Tipos de Préstamo</h5>
          <p class="card-text"></p>
          <a class="nav-link btn btn-primary" [routerLink]="['/tipo_prestamo']">ver</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Requisitos</h5>
          <p class="card-text"></p>
          <a class="nav-link btn btn-primary" [routerLink]="['/requisito']">ver</a>
        </div>
      </div>

    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Clientes</h5>
          <p class="card-text"></p>
          <a class="nav-link btn btn-primary" [routerLink]="['/cliente']">ver</a>
        </div>
      </div>
    </div>
  </div>
</div>
