/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header-fixed .app-header {
  z-index: 50;
}

.aside-menu {
  z-index: 49;
}

::ng-deep .cdk-overlay-container {
  z-index: 10000 !important;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.hide{
  display: none;
}

span.green {
  background-color: darkseagreen;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

span.red {
  background-color: crimson;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
