<div class="row">
  <div class="col-12 col-md-2">    
    <button mat-raised-button color="default" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>Volver
    </button>
  </div>
  <div class="col-12 col-md-7">
    <mat-form-field >
      <mat-label>Buscar</mat-label>
      <input matInput [(ngModel)]="keyPressed" (keyup)="filterApply()" placeholder="Dijite una letra para filtrar" autocomplete="off">
      <button mat-button matSuffix mat-icon-button aria-label="Limpiar" *ngIf="keyPressed" (click)="searchClean()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-auto">
    <button mat-raised-button color="accent" (click)="exportarAExcel()">
      <mat-icon>description</mat-icon>Exportar a Excel
    </button>
  </div>
</div>
<div class="mt-2">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="idPrestamoCliente" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.idPrestamoCliente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreTipoPrestamo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Prestamo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tipo de Prestamo"> {{element.nombreTipoPrestamo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Cliente"> {{element.cliente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="montoNecesitado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Monto Necesitado </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Monto Necesitado"> {{element.montoNecesitado}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tiempoNegocio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo Negocio </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tiempo Negocio"> {{element.tiempoNegocio}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ingresosAnuales">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ingreso Anual </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ingreso Anual"> {{element.ingresosAnuales}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="puntajeCredito">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje Credito </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Puntaje Credito"> {{element.puntajeCredito}} </mat-cell>
    </ng-container>      

    <ng-container matColumnDef="queNegocioTiene">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Que negocio Tiene </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Que negocio Tiene"> {{element.queNegocioTiene}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comoVaUsar">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Como va Usar </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Como va Usar"> {{element.comoVaUsar}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cuanRapidoNecesita">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cuan Rapido Necesita</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Cuan Rapido Necesita"> {{element.cuanRapidoNecesita}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calificacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Calificación</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Calificación">
        <span class="green" *ngIf="element.calificacion=='Califica'"> {{element.calificacion}} </span>
        <span class="red" *ngIf="element.calificacion!='Califica'"> {{element.calificacion}} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Acciones">  
        <a mat-icon-button color="primary" href="tel://{{row.telefono}}" matTooltip="Llamar">
          <mat-icon>call</mat-icon>
        </a>
        <button mat-icon-button color="accent" (click)="enviarMensaje(row)" matTooltip="Escribir">
          <mat-icon>chat</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cargando">
      <mat-footer-cell *matFooterCellDef colspan="5"> Cargando datos... </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="sinDatos">
      <mat-footer-cell *matFooterCellDef colspan="5"> Sin datos </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['cargando']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['sinDatos']" [ngClass]="{'hide': !(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[25,50,100,200]" [pageSize]="25" showFirstLastButtons>Filter</mat-paginator>
</div>
<div class="mt-3">
  <h2>Leyenda de iconos:</h2>
  <ul class="list-group">
    <li class="list-group-item"><mat-icon>call</mat-icon> | Llamar cliente</li>
    <li class="list-group-item"><mat-icon>chat</mat-icon> | Escribir cliente</li>
  </ul>
</div>