extends layout

block content
	script(type="text/javascript").
		var fecha = "#{fecha}";

	div(class="uk-navbar-container" uk-navbar="")
		div(class="uk-navbar-left")
			a(href="" class="uk-navbar-item uk-logo")
				img(src='https://2xft2q18oiw21pj6n2ph8hcj-wpengine.netdna-ssl.com/wp-content/uploads/2020/05/cropped-Logo_InQmatic.png' class="uk-responsive-height")
		div(class="uk-navbar-center")
			h2(class="uk-text-center") Comunicate con nosotros y obten tu préstamo.
		div(class="uk-navbar-right")
			h2(class="uk-text-center")

	div(class="uk-flex uk-flex-middle" uk-height-viewport="offset-bottom: 80px")
		div(class="uk-width-2-4@s") &nbsp;

		div(class="uk-width-2-4@s uk-margin-large-right")
			div(class="uk-margin-medium")

				div(class="chat")
					div(class="chat-title")
						h3 Soy el mejor Agente de ventas Robot a

					div(class="messages")
						div(class="messages-content")
						div(class="suggession")

					form(action="", name="elegir-modulo", method="POST", id="mymsg" class="message-box uk-grid-small" uk-grid="")
						div(class="uk-width-1-1@s")
							input(type="text", id="message" name="message" placeholder="Ingrese mensaje" class="message-input uk-input" )
									
						div(id="start-record-btn" class="uk-width-1-2@s")
							span(class="uk-icon" uk-icon="microphone") Graba tu voz

						div(class="uk-width-1-2@s")
							input(type="submit", value="Enviar", class="message-submit uk-button uk-button-primary")

					h4(class="no-browser-support") Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.
	
	script(src="/javascripts/autoScroll.js")
	script(src="/javascripts/bot-ui.js")