extends layout

block content	

	div(class="uk-child-width-1-1@s uk-navbar-container" uk-navbar="" uk-grid="")
		div(class="uk-navbar-center")
			a(href="" class="uk-navbar-item uk-logo")
				img(src='https://2xft2q18oiw21pj6n2ph8hcj-wpengine.netdna-ssl.com/wp-content/uploads/2020/05/cropped-Logo_InQmatic.png' class="uk-responsive-height")

	div(class="uk-flex uk-flex-center" uk-height-viewport="offset-top: false; offset-bottom: 300px; expand: true" uk-grid="")
		div(class="uk-flex uk-flex-middle")
			div(class="uk-container-xsmall")
				div(class="chat")
					div(class="chat-title")
						h3 Soy el mejor Agente de ventas Robot

					div(class="messages")
						div(class="messages-content")
						div(class="suggession")

					form(action="", name="elegir-modulo", method="POST", id="mymsg" class="message-box uk-grid-small" uk-grid="")
						div(class="uk-width-1-1@s")
							input(type="text", id="message" name="message" placeholder="Ingrese mensaje" class="message-input uk-input" )
									
						div(id="start-record-btn" class="uk-width-1-2@s")
							span(class="uk-icon" uk-icon="microphone") Graba tu voz

						div(class="uk-width-1-2@s")
							input(type="submit", value="Enviar", class="message-submit uk-button uk-button-primary")

					p(class="no-browser-support") Lo siento tu navegador no es compatible
	
	script(type="text/javascript").
		var fecha = "#{fecha}";
	script(src="/javascripts/autoScroll.js")
	script(src="/javascripts/bot-ui.js")