<div class="mt-2">
  <mat-card>
    <mat-card-title>Registrarse</mat-card-title>
    <mat-card-content>
      <div class="well well bs-component">
        <form novalidate class="form-horizontal" (ngSubmit)="crear(usuarioForm.value)" [formGroup]='usuarioForm'>
          
          <mat-form-field>
            <input type="text" matInput formControlName="nombres" placeholder="Nombres" />
            
            <mat-error *ngIf="usuarioForm.get('nombres').hasError('required')">
              El campo es obligatorio
            </mat-error>

            <mat-error *ngIf="usuarioForm.get('nombres').hasError('minlength')">
              Mínimo 2 caracteres
            </mat-error>

            <mat-error *ngIf="usuarioForm.get('nombres').hasError('maxlength')">
              Máximo 2 caracteres
            </mat-error> 
            
          </mat-form-field>
          
          <mat-form-field>
            <input type="text" matInput formControlName="correo" placeholder="Correo" />
            
            <mat-error *ngIf="usuarioForm.get('correo').hasError('required')">
              El campo es obligatorio
            </mat-error>

            <mat-error *ngIf="usuarioForm.get('correo').hasError('email')">
              El correo no es válido
            </mat-error>

            <mat-error *ngIf="usuarioForm.get('correo').hasError('minlength')">
              Mínimo 2 caracteres
            </mat-error>

            <mat-error *ngIf="usuarioForm.get('correo').hasError('maxlength')">
              Máximo 2 caracteres
            </mat-error> 
            
          </mat-form-field>

          <mat-form-field>
            <input type="password" matInput formControlName="clave" placeholder="Clave" >
            <mat-error *ngIf="usuarioForm.get('clave').hasError('required')">
              El campo es obligatorio
            </mat-error>

            <mat-error *ngIf="usuarioForm.get('clave').hasError('minlength')">
              Mínimo 2 caracteres
            </mat-error>

            <mat-error *ngIf="usuarioForm.get('clave').hasError('maxlength')">
              Máximo 2 caracteres
            </mat-error>
          </mat-form-field> 
          
          <button mat-raised-button color="primary">
            <mat-icon>person_add</mat-icon>Registrar
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
