<div class="container mt-4">  
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <button mat-raised-button color="primary" (click)="loginOption('login')">
        <mat-icon>login</mat-icon>Ingresar
      </button>
    </div>
    <div class="col col-lg-2">
      <button mat-raised-button color="accent" (click)="loginOption('registro')">
        <mat-icon>person_add</mat-icon>Registrar
      </button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div *ngIf="isLogin" class="col col-lg-6">
      <app-usuario-login-form></app-usuario-login-form>
    </div>
    <div *ngIf="!isLogin" class="col col-lg-6">
      <app-usuario-registro-form></app-usuario-registro-form>
    </div>
  </div>
  
</div>
