<div class="container mt-2">
  <div class="col-md-12">
    <div class="well well bs-component">
      <form novalidate class="form-horizontal" (ngSubmit)="getAction(LoginForm.value)" #LoginForm="ngForm">
        <fieldset>
          <legend>{{ textForm }} Login | Register</legend>

          <div class="form-group">
            <label for="correo" class="control-label">Correo</label>
            <div class="col-lg-12">
              <input type="text" class="form-control" id="correo" name="correo" placeholder="Correo" [(ngModel)]="usuario.correo" #apellidos="ngModel" required minlength="2"/>
              <div *ngIf="correo.errors?.required && correo.touched" class="alert alert-danger mt-2">
                Campo obligatorio
              </div>
              <div *ngIf="correo.errors?.minlength && correo.touched" class="alert alert-danger mt-2">
                Minimo 2 caracteres
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="clave" class="control-label">Contraseña</label>
            <div class="col-lg-12">
              <input type="text" class="form-control" id="clave" name="clave" placeholder="Clave" [(ngModel)]="usuario.clave" #nombres="ngModel" required minlength="2"/>
              <div *ngIf="clave.errors?.required && clave.touched" class="alert alert-danger mt-2">
                Campo obligatorio
              </div>
              <div *ngIf="clave.errors?.minlength && clave.touched" class="alert alert-danger mt-2">
                Minimo 2 caracteres
              </div>
            </div>
          </div>          
          
        </fieldset>
      </form>

    </div>
  </div>
</div>
