doctype html
html
	head
		title=title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/uikit.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bot-ui.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Stardos+Stencil')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery.scrollbar.css')
		script(src="/javascripts/jquery-2.1.3.min.js")
		script(src="/javascripts/uikit.min.js")
		script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js')

	body(class="")
		block content
		