<div class="row">
  <div class="col-12 col-md-auto">    
    <button mat-raised-button color="default" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>Volver
    </button>
  </div>
  <div class="col-12 col-md-auto">
    <button mat-raised-button color="primary" (click)="create()">Crear Requisito</button>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field >
      <mat-label>Buscar</mat-label>
      <input matInput [(ngModel)]="keyPressed" (keyup)="filterApply()" placeholder="Dijite una letra para filtrar" autocomplete="off">
      <button mat-button matSuffix mat-icon-button aria-label="Limpiar" *ngIf="keyPressed" (click)="searchClean()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-3">
    <button mat-raised-button color="accent" (click)="exportarAExcel()">
      <mat-icon>description</mat-icon>Exportar a Excel
    </button>
  </div>
</div>
<div class="mt-2">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="idRequisito" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.idRequisito}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcionRequisito">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion Requisito </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Descripcion Requisito"> {{element.descripcionRequisito}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="idTipoPrestamo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id Tipo Prestamo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id Tipo Prestamo"> {{element.idTipoPrestamo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreTipoPrestamo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Prestamo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tipo Prestamo"> {{element.nombreTipoPrestamo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Acciones">
        <button mat-icon-button (click)="edit(row)" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(row)" matTooltip="Eliminar">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cargando">
      <mat-footer-cell *matFooterCellDef colspan="5"> Cargando datos... </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="sinDatos">
      <mat-footer-cell *matFooterCellDef colspan="5"> Sin datos </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['cargando']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['sinDatos']" [ngClass]="{'hide': !(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[25,50,100,200]" [pageSize]="25" showFirstLastButtons>Filter</mat-paginator>
</div>
<div class="mt-2">
  <h2>Leyenda de iconos:</h2>
  <ul class="list-group">
    <li class="list-group-item"><mat-icon>edit</mat-icon> | Editar requisitos</li>
    <li class="list-group-item"><mat-icon>delete_outline</mat-icon> | Eliminar requisitos</li>
  </ul>
</div>
